@media (max-width: 1440px) { /*===== 1440 =====================================*/

  /*===== header section ====*/
  .grid-header{
    height: 768px;
    grid-template-columns: 1fr 424px 95px 464px 41px 1fr;
    grid-template-areas: ". dev . hgroup . ."
                         ". dev . . . ."
                         ". dev . intro . .";
  }
  .dev-inner{
    background-image: url(../assets/dev-1024.jpg);
  }

  /*=== footer section ===*/
  .grid-footer{
    height: 710px;
  }

}